<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hb.dao.mappers.StreamTaskMapper">
    <resultMap id="BaseResultMap" type="com.hb.dao.entity.StreamTaskDO">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="stream_job_id" jdbcType="BIGINT" property="streamJobId" />
        <result column="stream_job_name" jdbcType="VARCHAR" property="streamJobName" />
    </resultMap>

<!--    <select id="selectByJobId" resultType="com.hb.dao.entity.StreamTaskDO">-->
<!--    不能用上面的形式结果会映射不到,一定要用下面的形式-->
    <select id="selectByJobId" resultMap="BaseResultMap">
        select
               id, stream_job_id, stream_job_name
        from stream_task
        where stream_job_id = #{streamJobId, jdbcType=BIGINT}
        and is_deleted = 0
    </select>


</mapper>